.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.input-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.input-row label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.input-row input[type="text"],
.input-row textarea,
.input-row input[type="number"],
.input-row input[type="image"],
.input-row input[type="password"],
.input-row input[type="date"] {
    width: calc(100% - 120px); /* Adjusted width considering label and margins */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.input-row select {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.input-row input[type="radio"],
.input-row input[type="checkbox"] {
    display: inline-block;
    width: 20px; /* Increased size for better clickability */
    height: 20px;
    margin-right: 5px;
    border: 2px solid #ccc; /* Thicker border for better visibility */
    background-color: #fff; /* Ensuring a consistent background */
}

.input-row input[type="radio"]:checked::before,
.input-row input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
}

.input-row input[type="checkbox"]:checked::before {
    border-radius: 0; /* Square for checkbox */
}

.input-row input[type="radio"]:hover,
.input-row input[type="checkbox"]:hover {
    border-color: #4CAF50;
}

.input-row input[type="radio"]:focus,
.input-row input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); /* Brighter focus color */
}

.input-row input[type="checkbox"] {
    border-radius: 0; /* Square checkboxes */
}

.input-row .add-btn,
.input-row .remove-btn,
.input-row .submit-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.input-row .add-btn:hover,
.input-row .submit-btn:hover {
    background-color: #3e8e41;
}

.input-row .remove-btn:hover {
    background-color: #f44336;
}

.input-row .add-btn:active,
.input-row .submit-btn:active,
.input-row .remove-btn:active {
    transform: translateY(1px);
}
